<div class="container p-2 pt-5">
    <div class="row">
        <div class="d-flex mx-auto">
            <div class="card m-2">
                <div class="card-body">
                    <h3>Empresa Extranjera</h3>
                    <form action="/home/edit/vuelo/:id" method="POST">
                        <label for="codigo_vuelo">Codigo del Vuelo</label>
                        <div class="form-group">
                            <input type="number" value="{{link2.codigo_vuelo}}" class="form-control" name="codigo_vuelo">
                        </div>
                        <label for="fecha_salida">Fecha_Salida</label></br>
                        <label for="fecha_recibido">VALOR ACTUAL : {{link2.fecha_salida}}</label>
                        <div class="form-group">
                            <input type="date" value="{{link2.fecha_salida}}" class="form-control" name="fecha_salida">
                        </div>
                        <label for="fecha_llegada">Fecha_Llegada</label></br>
                        <label for="fecha_recibido">VALOR ACTUAL : {{link2.fecha_llegada}}</label>
                        <div class="form-group">
                            <input type="date" value="{{link2.fecha_llegada}}" class="form-control" name="fecha_llegada">
                        </div>
                            <button class="btn btn-primary btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>