<div class="mx-auto col-md-12">
    {{> message_success }}
</div>
<div class="container pt-4 mt-4">
    <a href="/auth/profileAdmin" class="mx-auto"><button class="btn btn-primary btn-block col-sm-2 mx-auto mb-3">
            Atras
        </button></a>
    <div class="row">
        <h1 class="mx-auto font-weight-bold">Historial de Compra y ventas</h1>
    </div>
</div>

<div class="p-4 mx-auto">
    <div class="">
        <div class="mx-auto">
            {{#each JsonUnido}}
            <div class="card text-center ml-4 mr-4 mt-5">
                <div class="card-body bg-secundary text-primary d-flex">

                    {{!-- EMPRESA EXTRANJERA --}}
                    <div class="card-title text-uppercase p-4">
                        <p class="font-weight-bold">Empresa Estranjera</p>
                        {{nombre_empresa}}
                    </div>
                    <div class="card-title text-uppercase p-4">
                        <p class="font-weight-bold">Codigo de la Empresa</p>
                        {{codigo_empresa}}
                    </div>

                    {{!-- Vuelo --}}
                    <div class="card-title text-uppercase p-4">
                        <p class="font-weight-bold">Codigo del Vuelo</p>
                        {{codigo_vuelo}}
                    </div>
                    <div class="card-title text-uppercase p-4">
                        <p class="font-weight-bold">Fecha Salida</p>
                        {{fecha_salida}}
                    </div>
                    <div class="card-title text-uppercase p-4">
                        <p class="font-weight-bold">Fecha Llegada</p>
                        {{fecha_llegada}}
                    </div>

                    {{!-- ArticuloL --}}

                    <div class="card-title text-uppercase p-4">
                        <p class="font-weight-bold">Codigo del Articulo</p>
                        {{codigo_articulo}}
                    </div>
                    <div class="card-title text-uppercase p-4">
                        <p class="font-weight-bold">Nommbre del Articulo</p>
                        {{nombre_articulo}}
                    </div>
                    <div class="card-title text-uppercase p-4">
                        <p class="font-weight-bold">Peso del Articulo en (KG)</p>
                        {{peso}}
                    </div>
                </div>
            </div>

            <div class="card text-center ml-4 mr-4">
                <div class="card-body bg-secundary text-primary d-flex">

                    {{!-- PedidoL --}}

                    <div class="card-title text-uppercase p-4">
                        <p class="font-weight-bold">Codigo del Pedido</p>
                        {{codigo_pedido}}
                    </div>
                    <div class="card-title text-uppercase p-4">
                        <p class="font-weight-bold">Cantidad del Articulo</p>
                        {{cantidad_articulo}}
                    </div>
                    {{!-- ClientesL --}}

                    <div class="card-title text-uppercase p-4">
                        <p class="font-weight-bold">Empresa Cliente</p>
                        {{nombre_empresa_cliente}}
                    </div>
                    <div class="card-title text-uppercase p-4">
                        <p class="font-weight-bold">Codigo de la Empresa Cliente </p>
                        {{codigo_empresa_cliente}}
                    </div>
                    <div class="card-title text-uppercase p-4">
                        <p class="font-weight-bold">Fecha Envio</p>
                        {{fecha_envio}}
                    </div>
                    <div class="card-title text-uppercase p-4">
                        <p class="font-weight-bold">Fecga Llegada</p>
                        {{fecha_recibido}}
                    </div>
                    <div class="card-title text-uppercase p-4">
                        <p class="font-weight-bold">Tipo de Envio</p>
                        {{tipo_envio}}
                    </div>
                    <a href="/delete/{{id}}"><i class="fas fa-trash-alt fa-2x p-2 mt-5"></i></a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>